@page "/allmylinks"


<div class="sc-bdfBwQ LyLIy">
    <div id="links-1" class="sc-bdfBwQ pkAuV">
        <div data-testid="StyledContainer" class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1kae6sc-0 hBNyQA doOGeq">
            <a href="https://github.com/messidagod" target="_blank" rel="noopener" data-testid="LinkButton"
               aria-describedby="profile-messidagod" height="auto" class="@CssClass">
                <p class="">GitHub </p>
            </a>
        </div>
    </div>
    
     <div id="links-2" class="sc-bdfBwQ pkAuV">
         <div data-testid="StyledContainer" class="sc-bdfBwQ StyledContainer__StyledLinkContainer-sc-1kae6sc-0 hBNyQA doOGeq">
             <a href="https://instagram.com/joeshakely" target="_blank" rel="noopener" data-testid="LinkButton"
               aria-describedby="profile-instagram" height="auto" class="@CssClass">
                <p class="">Instagram </p>
            </a>  
         </div>
     </div>
</div>

@* *@
@* <style> *@
@* *@
@* .LyLIy { *@
@*     margin: 0px auto; *@
@*     height: 100%; *@
@*     width: 100%; *@
@*     max-width: 680px; *@
@*     padding-bottom: 80px; *@
@* } *@
@* .imjgnX { *@
@*     overflow-wrap: break-word; *@
@*     word-break: break-word; *@
@*     hyphens: auto; *@
@*     white-space: normal; *@
@*     background: none; *@
@*     color: inherit; *@
@*     transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s; *@
@*     min-height: 56px; *@
@* }     *@
@* .ldGKnQ { *@
@*     margin: 0px; *@
@*     border: none; *@
@*     font-family: inherit; *@
@*     font-weight: inherit; *@
@*     font-size: inherit; *@
@*     text-align: center; *@
@*     cursor: pointer; *@
@*     background: none; *@
@*     text-decoration: none; *@
@*     display: flex; *@
@*     -webkit-box-align: center; *@
@*     align-items: center; *@
@*     -webkit-box-pack: center; *@
@*     justify-content: center; *@
@*     height: auto; *@
@*     position: relative; *@
@*     padding: 16px 20px; *@
@*     width: 100%; *@
@*     appearance: none; *@
@*     box-sizing: border-box; *@
@*     vertical-align: middle; *@
@* } *@
@* .doOGeq { *@
@*     z-index: 0; *@
@*     overflow: hidden; *@
@*     margin-bottom: 16px; *@
@*     border: none; *@
@*     background-color: rgb(42, 50, 53); *@
@*     color: rgb(255, 255, 255); *@
@*     transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s; *@
@* } *@
@* .hBNyQA { *@
@*     position: relative; *@
@*     height: auto; *@
@*     border-radius: 14px; *@
@* } *@
@* </style> *@
@code {

    private static string CssClass => "sc-pFZIQ StyledButton-sc-686c3k-0 ldGKnQ imjgnX";

}