@inherits LayoutComponentBase
@inject IJSRuntime Js;
@inject NavigationManager UriHelper;

<NavMenu />
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<MudAppBar Color="Color.Transparent" Fixed="false">
  <MudPaper Width="10px" Elevation="0">
  <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
  </MudNavMenu>
  </MudPaper>
  <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
  <MudPaper Width="300px" id="menuItems" class="hide">
  </MudPaper>
  <MudSpacer />
  <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" href="https://github.com/MessiDaGod/" title="GitHub" target="_blank" />
</MudAppBar>

<div class="loading" data-layout="dark-sidenav">
  <div class="wrapper">
    <div class="left-side-menu" id="left-side-bar">
      <div class="slimscroll-menu" id="left-side-menu-container">
        <a class="logo text-center"><span class="logo-lg"><img src="./public/images/logo.png" alt="" height="16" id="side-main-logo"> </span><span class="logo-sm"><img src="./public/images/logo_sm.png" alt="" height="16"></span></a>
        <ul class="mt-3 metismenu side-nav" id="left-bar-menu">
          <li class="side-nav-item"><button class="none"  onclick="AllMyLinks.toggleMenuItems("SQL")"><span class="material-symbols-outlined">
database</span>    SQL</button></li>
          <li class="side-nav-item"><button class="none" onclick="AllMyLinks.toggleMenuItems()" ><i class="dripicons-scale"></i> <span>All my links</span></button></li>
        </ul>
      </div>
    </div>
    <div class="content-page">
        <article class="content px-4">
          @Body
        </article>
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">2022 @@ Shakely Consulting</div>
            <div class="col-md-6">
              <div class="text-md-right footer-links d-none d-md-block"><a href="https://github.com/MessiDaGod/" target="_blank">About</a> <a href="https://github.com/MessiDaGod/" target="_blank">Support</a></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<style>
button > #none {
  all: unset;
  cursor: pointer;
}
</style>
@code {

  internal IJSObjectReference? Module;
  internal IJSObjectReference? module1;
  internal IJSObjectReference? module2;
  internal IJSObjectReference? Module3;

  internal List<string> Pages = new();

    // 1
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected async Task ToggleMenuItems()
    {
      await Js.InvokeVoidAsync("AML.toggleMenuItems");
    }
}
