@inherits LayoutComponentBase
@inject IJSRuntime Js;

<NavMenu />
<main>
    <div class="top-row px-4">
        <a href="https://github.com/messidagod/allmylinks" target="_blank">Source Repo</a>
    </div>
    <article class="content px-4">
        @Body
    </article>
</main>


@code {

    private IJSObjectReference? module0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        module0 = await Js.InvokeAsync<IJSObjectReference>("import", "./js/AllMyLinks.js");
    }
}
