@inherits LayoutComponentBase
@inject IJSRuntime Js;
<NavMenu />
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>
<main>
<MudAppBar Color="Color.Transparent" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
    <MudSpacer />
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" href="https://github.com/MessiDaGod/" title="GitHub" target="_blank"/>
</MudAppBar>
  <article class="content px-4">
    @Body
  </article>
</main>

@code {

  internal IJSObjectReference? Module;
  internal IJSObjectReference? module1;
  internal IJSObjectReference? module2;
  internal IJSObjectReference? Module3;

    // 1
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
